body {
  width: 100%;
  font-family:'Philosopher', sans-serif;
  font-size: 18px;
  line-height: 34px;
  color:rgb(49, 2, 2);
  background: url("../images/cyclosaBackground.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  
}

* {
  box-sizing: border-box;
}

/* general */

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}

h1,
h2,
h3,
p {
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3 {
  font-family: 'Gentium Basic', serif;
  font-weight: 700;
  color:green;
}

h1 {
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 49px;
  border-bottom: 3px solid #07f513;
}

h2,
h3 {
  font-size: 22px;
}

/* header */

#masthead {
  position: fixed;
  z-index: 99;
  width: 100%;
  max-width: 1330px;
  margin: 100;
  clear: both;
  overflow: auto;
  color:rgba(192, 219, 37, 0.157);
  background:rgba(200, 209, 195, 0.555);
  border-bottom: 2px solid #07f513;
}

#logo {
  float: left;
  width: 250px;
  height: 90px;
  font-family: 'Merienda', cursive;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  color:rgb(39, 36, 20);;
  text-align: center;
  text-decoration: none;

}

nav {
  float: right;
  margin-top: 25px;
}

nav a {
  display: inline-block;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  color: rgb(39, 36, 20);
  text-decoration: none;
  border-left: 1px solid #efefef;
}

nav a:first-child {
  border-left: 0 none;
}

/* footer */

footer {
  
  padding: 30px 0;
  clear: both;
  font-size: 20px;
  color: #ffffff;
  color: #cccccc;
  text-align: center;
  background: rgb(6, 43, 6);
  border-top: 4px solid #07f513;
  
  height: 50px;
}

h3, h2 {
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eeeeee;
}

/* main */

#main-container {
  padding-top: 130px;
  min-height: calc(100vh - 70px);
}

.main-section {
  text-align: justify;
  float: left;
  width: 100%;
  max-width: 960px;
  padding: 30px;
  margin: 0 0 40px;
  background: #ffffff;
  border: 1px solid #dddddd;
}

/* portfolio page */

.work {
  position: relative;
  float: left;
  width: 274px;
  margin: 20px 0 25px;
  overflow: auto;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.work:nth-child(even) {
  margin-right: 40px;
}

.work img {
  border-radius: 8px;
  border: 4px solid rgb(10, 4, 4);
  width: 100%;
  height: auto;
}

.work h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
}

.auth-image {
  border-radius: 8px;
  border: 2px solid gray;
  float: left;
  width: 250px;
  height: 200px;
  margin-top: 10px;
  margin-right: 25px;
  
}

/* contact page */

#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #dddddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  background: #4aaaa5;
  border: 0 none;
}
